body{height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgb(7, 7, 7);
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1000px;
    margin: auto;
    box-shadow: 0px 1px 4px 1px rgba(78, 78, 78, 0.274);}

header{width: 350px;
    align-self: center;
    text-align: center;
    margin: auto;}

.fonte{font-weight: 300;}

h1{font-size: 20px;
    color: hsl(234, 12%, 34%);}

p{font-size: 13px;
    color: hsl(0, 0%, 41%);}

main{display: flex;
    justify-content: center;}

.box1tamanho{width: 270px;
    height: 200px;
    border-radius: 5px;}

.box1{background-color: hsl(0, 0%, 100%);
    margin: 20px;
    align-self: center;
    border-top: 3px solid hsl(212, 86%, 64%);
    box-shadow: 0px 1px 4px 1px rgba(78, 78, 78, 0.274);}

.box2{
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    border-top: 3px solid hsl(0, 78%, 62%);
    box-shadow: 0px 1px 4px 1px rgba(78, 78, 78, 0.274);}

.box3{
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    border-top: 3px solid hsl(34, 97%, 64%);
    box-shadow: 0px 1px 4px 1px rgba(78, 78, 78, 0.274);}

.box4{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    align-self: center;
    border-top: 3px solid hsl(180, 62%, 55%);
    box-shadow: 0px 1px 4px 1px rgba(78, 78, 78, 0.274);}

.textos{margin: 20px;}

img{margin-left: 180px;}

@media screen and (max-width: 900px) {

    .container{padding: 50px;}
    
    .box1tamanho{width: 240px;}

    .textos, p{margin-bottom: 0px;}

    img{margin-left: 160px;}
}

@media screen and (max-width: 700px) {
header{width: 270px;}

    main{flex-direction: column;}

    .centro{margin: auto;}
}