* {
    margin: 0%;
}

body {
    background-color: rgb(154, 213, 228);
}

.container {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 390px;
    margin: auto;
    margin-top: 110px;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 225px;
    margin-top: 15px;
    border-radius: 15px;
}

.text {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    font-family: 'Fraunces', serif;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: hsl(218, 44%, 22%);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 13px;
    padding: 17px;
    margin: 0px;
    padding-top: 5px;
}